BOT_TOKEN=
ORDER_CHAT_ID=
YANDEX_GEOCODER_API_KEY=
PUBLIC_APP_URL=https://miniapp-shop.onrender.com/
IIKO_API_BASE=https://api-ru.iiko.services
IIKO_API_LOGIN=
IIKO_ORG_ID=
IIKO_EXTERNAL_MENU_ID=
IIKO_ORDER_ENABLED=false
ENABLE_DEBUG_ENDPOINTS=false
